.icons {
  margin-top: 1rem;
  margin-left: 1rem;
  a {
    padding: 0.4rem;
    color: set-text-color($primary-color);
    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}

#nav-header {
  .icons {
    display: inline;
    float: right;
    a {
      margin-right: 0.6rem;
    }
  }
}

.header {
  .icons {
    margin-top: 0px;
    margin-bottom: 90px;
    a {
      margin-right: 1.6rem;
    }
  }
}
