@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {

}

// Tablets & Small Laptops
@include mediaMd {
  .main {
    .lg-heading {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 1rem;
    }

    align-items: center;
    text-align: center;
  }

  .header {
    .menu {
      position: static;

      &-branding,
      &-nav {
        float: none;
        width: 100%;
        min-height: 0;
        flex-direction: column;
      }

      &-branding {
        height: 25vh;
      }
      &-nav {
        height: 75vh;
      }

      .portrait {
        width: 150px;
        height: 150px;
      }
    }
  }

  #about {
    .about-info {
      grid-template-areas:
        "bioimage"
        "bio"
        "job1"
        "job2"
        "job3";
      grid-template-columns: 1fr;

      .bio-photo {
        width: 150px;
        height: 150px;
      }
    }
  }

  grid-template-columns: auto repeat(3, 1fr) auto;
  #work {
    .lg-heading {
      font-size: 60px;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .sm-heading {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 1rem;
    }

    align-items: center;
    text-align: center;

  }
}

// Smartphones
@include mediaSm {
  #work {
    padding: 45px;

    .card {
      max-width: 250px;
      min-width: 250px;
    }
  }
}
